@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans&family=Rubik+Doodle+Shadow&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: 168, 168, 168;*/
/*    --background-rgb: 0, 0, 0;*/
/*  }*/
/*}*/

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.bg-paper {
  background-image: url("/images/bg.webp");
}

.content-visibility-auto {
  content-visibility: auto;
}
